In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import descartes
import pyproj

In [3]:
data = "../ProjetoIntegrador1/Data/Real_State_Properati.csv"

data_Frame = pd.read_csv(data, sep = '\t')
print('rows',len(data_Frame))
print('columns',len(data_Frame.columns))
data_Frame

rows 17223
columns 9

,property_type,place_name,country_name,state_name,lat,lon,price,currency,surface_total_in_m2
0,PH,Mataderos,Argentina,Capital Federal,-34.661824,-58.508839,62000.0,USD,55.0
1,apartment,Mataderos,Argentina,Capital Federal,-34.652262,-58.522982,72000.0,USD,55.0
2,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,138000.0,USD,45.0
3,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,195000.0,USD,65.0
4,PH,Mataderos,Argentina,Capital Federal,-34.652356,-58.501624,239000.0,USD,140.0
...,...,...,...,...,...,...,...,...,...
17218,apartment,Barrio Norte,Argentina,Capital Federal,-34.599214,-58.402519,165000.0,USD,91.0
17219,apartment,Recoleta,Argentina,Capital Federal,-34.587425,-58.397372,165000.0,USD,44.0
17220,apartment,Belgrano,Argentina,Capital Federal,-34.563685,-58.442683,410000.0,USD,157.0
17221,apartment,Belgrano,Argentina,Capital Federal,-34.563685,-58.442683,410000.0,USD,157.0
17222,apartment,Villa Urquiza,Argentina,Capital Federal,-34.570639,-58.475596,131500.0,USD,46.0

In [4]:
is_null_result = data_Frame.isnull()
quantidade_nulls = is_null_result.sum()
print(quantidade_nulls)

property_type          0
place_name             0
country_name           0
state_name             0
lat                    0
lon                    0
price                  0
currency               0
surface_total_in_m2    0
dtype: int64

In [36]:
data_Frame_USD = data_Frame[data_Frame.currency == 'USD']
len(data_Frame_USD)/len(data_Frame.index)*100

data_Frame_nUSD = data_Frame[data_Frame.currency != 'USD']
len(data_Frame_nUSD)/len(data_Frame.index)*100

3.0366370551007376

In [37]:
data_Frame_nUSD

,property_type,place_name,country_name,state_name,lat,lon,price,currency,surface_total_in_m2,preço USD
58,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1099350.0,ARS,27.0,9344.4750
59,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1113420.0,ARS,27.0,9464.0700
60,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1127700.0,ARS,27.0,9585.4500
61,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1141980.0,ARS,27.0,9706.8300
62,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1327515.0,ARS,32.0,11283.8775
...,...,...,...,...,...,...,...,...,...,...
16977,apartment,Villa Urquiza,Argentina,Capital Federal,-34.573427,-58.473572,2337233.0,ARS,45.0,19866.4805
17021,apartment,Belgrano,Argentina,Capital Federal,-34.564408,-58.437251,650000.0,ARS,132.0,5525.0000
17113,apartment,Villa Crespo,Argentina,Capital Federal,-34.597679,-58.443019,2960000.0,ARS,53.0,25160.0000
17165,apartment,Coghlan,Argentina,Capital Federal,-34.558708,-58.486731,2651200.0,ARS,70.0,22535.2000
17170,apartment,Congreso,Argentina,Capital Federal,-34.613969,-58.404925,135000.0,ARS,60.0,1147.5000

In [17]:
price_usd = data_Frame.apply(lambda x: x["price"] if x["currency"] == "USD" else x["price"]* 0.0085,axis=1)

In [27]:
print(type(price_usd))
print("Número de elementos em preco_m2: " + str(len(price_usd)))
print("Quantidade de linhas em data: " + str(data_Frame.shape[0]))

<class 'pandas.core.series.Series'>
Número de elementos em preco_m2: 17223
Quantidade de linhas em data: 17223

In [28]:
data_Frame.head(3)

,property_type,place_name,country_name,state_name,lat,lon,price,currency,surface_total_in_m2
0,PH,Mataderos,Argentina,Capital Federal,-34.661824,-58.508839,62000.0,USD,55.0
1,apartment,Mataderos,Argentina,Capital Federal,-34.652262,-58.522982,72000.0,USD,55.0
2,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,138000.0,USD,45.0

In [31]:
data_Frame_nUSD.head(3)

,property_type,place_name,country_name,state_name,lat,lon,price,currency,surface_total_in_m2
58,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1099350.0,ARS,27.0
59,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1113420.0,ARS,27.0
60,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1127700.0,ARS,27.0

In [42]:
data_Frame["preço"] = price_usd

In [43]:
dataARS = data_Frame[data_Frame.currency == "ARS"]

In [44]:
dataARS

,property_type,place_name,country_name,state_name,lat,lon,price,currency,surface_total_in_m2,preço USD,preço
58,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1099350.0,ARS,27.0,9344.4750,9344.4750
59,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1113420.0,ARS,27.0,9464.0700,9464.0700
60,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1127700.0,ARS,27.0,9585.4500,9585.4500
61,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1141980.0,ARS,27.0,9706.8300,9706.8300
62,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1327515.0,ARS,32.0,11283.8775,11283.8775
...,...,...,...,...,...,...,...,...,...,...,...
16977,apartment,Villa Urquiza,Argentina,Capital Federal,-34.573427,-58.473572,2337233.0,ARS,45.0,19866.4805,19866.4805
17021,apartment,Belgrano,Argentina,Capital Federal,-34.564408,-58.437251,650000.0,ARS,132.0,5525.0000,5525.0000
17113,apartment,Villa Crespo,Argentina,Capital Federal,-34.597679,-58.443019,2960000.0,ARS,53.0,25160.0000,25160.0000
17165,apartment,Coghlan,Argentina,Capital Federal,-34.558708,-58.486731,2651200.0,ARS,70.0,22535.2000,22535.2000
17170,apartment,Congreso,Argentina,Capital Federal,-34.613969,-58.404925,135000.0,ARS,60.0,1147.5000,1147.5000

In [45]:
data_Frame

,property_type,place_name,country_name,state_name,lat,lon,price,currency,surface_total_in_m2,preço USD,preço
0,PH,Mataderos,Argentina,Capital Federal,-34.661824,-58.508839,62000.0,USD,55.0,62000.0,62000.0
1,apartment,Mataderos,Argentina,Capital Federal,-34.652262,-58.522982,72000.0,USD,55.0,72000.0,72000.0
2,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,138000.0,USD,45.0,138000.0,138000.0
3,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,195000.0,USD,65.0,195000.0,195000.0
4,PH,Mataderos,Argentina,Capital Federal,-34.652356,-58.501624,239000.0,USD,140.0,239000.0,239000.0
...,...,...,...,...,...,...,...,...,...,...,...
17218,apartment,Barrio Norte,Argentina,Capital Federal,-34.599214,-58.402519,165000.0,USD,91.0,165000.0,165000.0
17219,apartment,Recoleta,Argentina,Capital Federal,-34.587425,-58.397372,165000.0,USD,44.0,165000.0,165000.0
17220,apartment,Belgrano,Argentina,Capital Federal,-34.563685,-58.442683,410000.0,USD,157.0,410000.0,410000.0
17221,apartment,Belgrano,Argentina,Capital Federal,-34.563685,-58.442683,410000.0,USD,157.0,410000.0,410000.0
17222,apartment,Villa Urquiza,Argentina,Capital Federal,-34.570639,-58.475596,131500.0,USD,46.0,131500.0,131500.0

In [47]:
data_Frame.drop(["price","preço USD"],axis =1 )

,property_type,place_name,country_name,state_name,lat,lon,currency,surface_total_in_m2,preço
0,PH,Mataderos,Argentina,Capital Federal,-34.661824,-58.508839,USD,55.0,62000.0
1,apartment,Mataderos,Argentina,Capital Federal,-34.652262,-58.522982,USD,55.0,72000.0
2,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,USD,45.0,138000.0
3,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,USD,65.0,195000.0
4,PH,Mataderos,Argentina,Capital Federal,-34.652356,-58.501624,USD,140.0,239000.0
...,...,...,...,...,...,...,...,...,...
17218,apartment,Barrio Norte,Argentina,Capital Federal,-34.599214,-58.402519,USD,91.0,165000.0
17219,apartment,Recoleta,Argentina,Capital Federal,-34.587425,-58.397372,USD,44.0,165000.0
17220,apartment,Belgrano,Argentina,Capital Federal,-34.563685,-58.442683,USD,157.0,410000.0
17221,apartment,Belgrano,Argentina,Capital Federal,-34.563685,-58.442683,USD,157.0,410000.0
17222,apartment,Villa Urquiza,Argentina,Capital Federal,-34.570639,-58.475596,USD,46.0,131500.0