In [6]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import descartes
import pyproj

In [20]:
data = "../ProjetoIntegrador1/Data/Real_State_Properati.csv"

data_Frame = pd.read_csv(data, sep = '\t')
print('rows',len(data_Frame))
print('columns',len(data_Frame.columns))
data_Frame

rows 17223
columns 9

,property_type,place_name,country_name,state_name,lat,lon,price,currency,surface_total_in_m2
0,PH,Mataderos,Argentina,Capital Federal,-34.661824,-58.508839,62000.0,USD,55.0
1,apartment,Mataderos,Argentina,Capital Federal,-34.652262,-58.522982,72000.0,USD,55.0
2,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,138000.0,USD,45.0
3,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,195000.0,USD,65.0
4,PH,Mataderos,Argentina,Capital Federal,-34.652356,-58.501624,239000.0,USD,140.0
...,...,...,...,...,...,...,...,...,...
17218,apartment,Barrio Norte,Argentina,Capital Federal,-34.599214,-58.402519,165000.0,USD,91.0
17219,apartment,Recoleta,Argentina,Capital Federal,-34.587425,-58.397372,165000.0,USD,44.0
17220,apartment,Belgrano,Argentina,Capital Federal,-34.563685,-58.442683,410000.0,USD,157.0
17221,apartment,Belgrano,Argentina,Capital Federal,-34.563685,-58.442683,410000.0,USD,157.0
17222,apartment,Villa Urquiza,Argentina,Capital Federal,-34.570639,-58.475596,131500.0,USD,46.0

In [24]:
is_null_result = data_Frame.isnull()
quantidade_nulls = is_null_result.sum()
print(quantidade_nulls)

property_type          0
place_name             0
country_name           0
state_name             0
lat                    0
lon                    0
price                  0
currency               0
surface_total_in_m2    0
dtype: int64

In [55]:
data_Frame_USD = data_Frame[data_Frame.currency == 'USD']
len(data_Frame_USD)/len(data_Frame.index)*100

data_Frame_nUSD = data_Frame[data_Frame.currency != 'USD']
len(data_Frame_nUSD)/len(data_Frame.index)*100

3.0366370551007376

In [58]:
data_Frame_nUSD

,property_type,place_name,country_name,state_name,lat,lon,price,currency,surface_total_in_m2
58,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1099350.0,ARS,27.0
59,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1113420.0,ARS,27.0
60,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1127700.0,ARS,27.0
61,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1141980.0,ARS,27.0
62,apartment,Paternal,Argentina,Capital Federal,-34.603594,-58.465425,1327515.0,ARS,32.0
...,...,...,...,...,...,...,...,...,...
16977,apartment,Villa Urquiza,Argentina,Capital Federal,-34.573427,-58.473572,2337233.0,ARS,45.0
17021,apartment,Belgrano,Argentina,Capital Federal,-34.564408,-58.437251,650000.0,ARS,132.0
17113,apartment,Villa Crespo,Argentina,Capital Federal,-34.597679,-58.443019,2960000.0,ARS,53.0
17165,apartment,Coghlan,Argentina,Capital Federal,-34.558708,-58.486731,2651200.0,ARS,70.0
17170,apartment,Congreso,Argentina,Capital Federal,-34.613969,-58.404925,135000.0,ARS,60.0

In [59]:
data_Frame.fillna

<bound method DataFrame.fillna of       property_type     place_name country_name       state_name        lat  \
0                PH      Mataderos    Argentina  Capital Federal -34.661824
1         apartment      Mataderos    Argentina  Capital Federal -34.652262
2         apartment       Belgrano    Argentina  Capital Federal -34.559873
3         apartment       Belgrano    Argentina  Capital Federal -34.559873
4                PH      Mataderos    Argentina  Capital Federal -34.652356
...             ...            ...          ...              ...        ...
17218     apartment   Barrio Norte    Argentina  Capital Federal -34.599214
17219     apartment       Recoleta    Argentina  Capital Federal -34.587425
17220     apartment       Belgrano    Argentina  Capital Federal -34.563685
17221     apartment       Belgrano    Argentina  Capital Federal -34.563685
17222     apartment  Villa Urquiza    Argentina  Capital Federal -34.570639

             lon     price currency  surface_total_in_m2
0     -58.508839   62000.0      USD                 55.0
1     -58.522982   72000.0      USD                 55.0
2     -58.443362  138000.0      USD                 45.0
3     -58.443362  195000.0      USD                 65.0
4     -58.501624  239000.0      USD                140.0
...          ...       ...      ...                  ...
17218 -58.402519  165000.0      USD                 91.0
17219 -58.397372  165000.0      USD                 44.0
17220 -58.442683  410000.0      USD                157.0
17221 -58.442683  410000.0      USD                157.0
17222 -58.475596  131500.0      USD                 46.0

[17223 rows x 9 columns]>